.start-screen {
  margin: calc(50vh - 150px) auto;
  width: 50vw;
  height: 300px;
  background: lightgrey;
  border: 2px solid black;
  text-align: center;
}

.button {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  background: lightgray;
}